@media (max-width :575px) {

    /* =====================navber part start ==========================*/
    .main_menu {
        background: #E23E38;
        top: 0;
        height: 50px;
    }

    .main_menu ul {
        background: #E23E38;
    }

    .main_menu .navbar-brand {
        width: auto;
        height: 50px;
        background: #323232;
        padding: 0 30px !important;
        padding-left: 0 !important;
        transform: skewX(-30deg);
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
        transition: .4s;
    }

    .main_menu .navbar-brand img {
        padding: 4px 0 0px 20px;
        height: 90%;
    }

    .main_menu i {
        color: #fff;
        font-size: 25px;
        height: 35px;
        width: 50px;
        text-align: center;
        line-height: 32px;
        border: 2px solid #fff;
        border-radius: 3px;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 .0rem;
    }

    .main_menu ul li {
        text-align: center;
    }

    .main_menu ul li a::before {
        background: #222222;
    }

    .menu_fix {
        background: rgba(226, 62, 56, 0.8);
    }

    /* .menu_fix .navbar-brand {
	transform: skewX(0);
}

.menu_fix .navbar-brand img{
    transform: skewX(0) !important;
} */

    /* =====================navber part end ==========================*/

    /* =====================banner part start ==========================*/
    #banner_part .item .details h2::before {
        display: none;
    }

    #banner_part .item .details h2::after {
        display: none;
    }

    #banner_part .item .details h1::before {
        display: none;
    }

    #banner_part .item .details h1::after {
        display: none;
    }

    #banner_part .item .details p::before {
        display: none;
    }

    #banner_part .item .details p::after {
        display: none;
    }

    #banner_part .item .details h2 {
        font-size: 18px;
    }

    #banner_part .item .details h1 {
        font-size: 32px;
    }

    #banner_part .item .details p {
        width: auto;
        text-align: center;
    }

    #banner_part .item .details a {
        padding: 5px 30px;
        margin: 20px 7px;
    }

    #banner_part .item {
        padding-top: 120px;
        padding-bottom: 80px;
    }

    #banner_part .item2 {
        text-align: center;
    }

    #banner_part .item3 {
        text-align: center;
    }

    #banner_part .item2 {
        background-position: 50%, 50%;
    }

    /* =====================banner part end ==========================*/

    /* =====================about part start ==========================*/

    #about_part {
        padding: 50px 0;
    }

    #about_part .about_text p {
        text-align: justify;
        margin-bottom: 25px;
    }

    .gallery_background a {
        margin-bottom: 20px;
    }

    /* =====================about part end ==========================*/


    /* =====================team part start ==========================*/
    #team_part {
        padding: 50px 0;
    }

    #team_part .time_item .img .overlay {
        opacity: 1;
    }

    #team_part .time_item .text p {
        opacity: 1;
    }

    #team_part .time_item .img .overlay {
        opacity: 1;
        transform: scale(0.9);
    }

    #team_part .time_item {
        transform: translateY(-30px);
    }

    #team_part .time_item .text {
        border: 2px solid #f1f1f1;
    }

    #team_part .time_item:hover .text {
        border: 2px solid #f1f1f1;
    }

    /* =====================team part end ==========================*/

    /* =====================testimonial part start ==========================*/
    #testimonial_part p {
        width: auto;
    }

    /* =====================testimonial part end ==========================*/

    /* =====================membership part start ==========================*/
    #membershop_part {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    #membershop_part .menber_text h4 {
        padding: 12px 0;
    }

    #membershop_part .menber_text h3 {
        font-size: 30px;
        padding: 20px 0;
    }

    #membershop_part .menber_text ul {
        padding-top: 30px;
        padding-bottom: 10px;
    }

    #membershop_part .menber_text ul li {
        margin-bottom: 10px;
    }

    #membershop_part .menber_text {
        margin-bottom: 20px;
    }

    /* =====================membership part end ==========================*/

    /* =====================counter part start ==========================*/
    #countder_part .counter_text h2 {
        margin-bottom: 10px;
    }

    #countder_part .counter_text p {
        margin-bottom: 15px;
        font-size: 15px;
    }

    #countder_part {
        padding-top: 40px;
        padding-bottom: 30px;
    }

    #countder_part::before {
        position: absolute;
        background: rgba(0, 0, 0, 0.1);
    }

    /* =====================counter part end ==========================*/

    /* =====================class part start ==========================*/
    #class_part {
        padding-top: 50px;
        padding-bottom: 0;
    }

    #class_part .class_menu li {
        width: 33.33%;
        background: #f1f1f1;
        border-bottom: 1px solid #e23e38;
    }

    #class_part .class_menu li button {
        font-size: 12px;
    }

    #class_part .class_text ul li {
        padding: 15px 0;
        width: 49%;
        margin-bottom: 6px;
        border-radius: 1px;
    }

    #class_part .class_text ul li p {
        font-size: 13px;
        font-weight: 400;
        font-family: "Open Sans", sans-serif;
        color: #222222;
        transition: .4s;
        width: 106px;
        margin: 0 auto;
    }

    #class_part .class_menu li button {
        line-height: 40px;
    }

    #footer_part h4 {
        margin-bottom: 15px;
    }

    #footer_part .Twetter_Feed h4 {
        margin-top: 25px;
    }

    #footer_part .Flickr_Photos h4 {
        margin-top: 30px;
    }

    #footer_part .Contact h4 {
        margin-top: 30px;
    }

    #footer_part .mar_top {
        margin-top: 32px;
    }

    #footer_part .Flickr_Photos {
        padding-right: 0;
    }

    #footer_part .Contact p {
        margin-bottom: 10px;
    }

    /* =====================class part end ==========================*/

    /* =====================footer part start ==========================*/

    /* =====================footer part end ==========================*/


}

@media (min-width :576px) and (max-width :767px) {

    /* =====================navber part start ==========================*/
    .main_menu {
        background: #E23E38;
        top: 0;
        height: 50px;
    }

    .main_menu ul {
        background: #E23E38;
    }

    .main_menu .navbar-brand {
        width: auto;
        height: 50px;
        background: #323232;
        padding: 0 30px !important;
        padding-left: 0 !important;
        transform: skewX(-30deg);
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
        transition: .4s;
    }

    .main_menu .navbar-brand img {
        padding: 4px 0 0px 20px;
        height: 90%;
    }

    .main_menu i {
        color: #fff;
        font-size: 25px;
        height: 35px;
        width: 50px;
        text-align: center;
        line-height: 32px;
        border: 2px solid #fff;
        border-radius: 3px;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 .0rem;
    }

    .main_menu ul li {
        text-align: center;
    }

    .main_menu ul li a::before {
        background: #222222;
    }

    .menu_fix {
        background: rgba(226, 62, 56, 0.8);
    }

    /* .menu_fix .navbar-brand {
	transform: skewX(0);
}

.menu_fix .navbar-brand img{
    transform: skewX(0) !important;
} */

    /* =====================navber part end ==========================*/

    /* =====================banner part start ==========================*/
    #banner_part .item .details h2::before {
        display: none;
    }

    #banner_part .item .details h2::after {
        display: none;
    }

    #banner_part .item .details h1::before {
        display: none;
    }

    #banner_part .item .details h1::after {
        display: none;
    }

    #banner_part .item .details p::before {
        display: none;
    }

    #banner_part .item .details p::after {
        display: none;
    }

    #banner_part .item .details h2 {
        font-size: 18px;
    }

    #banner_part .item .details h1 {
        font-size: 32px;
    }

    #banner_part .item .details p {
        width: auto;
        text-align: center;
    }

    #banner_part .item .details a {
        padding: 5px 30px;
        margin: 20px 7px;
    }

    #banner_part .item {
        padding-top: 210px;
        padding-bottom: 80px;
    }

    #banner_part .item2 {
        text-align: center;
    }

    #banner_part .item3 {
        text-align: center;
    }

    #banner_part .item2 {
        background-position: 50%, 50%;
    }

    /* =====================banner part end ==========================*/

    /* =====================about part start ==========================*/
    #about_part {
        padding: 50px 0;
    }

    #about_part .about_text p {
        text-align: justify;
        margin-bottom: 25px;
    }

    .gallery_background a {
        margin-bottom: 20px;
    }

    /* =====================about part end ==========================*/

    /* =====================team part start ==========================*/
    #team_part {
        padding: 50px 0;
    }

    #team_part .time_item .img .overlay {
        opacity: 1;
    }

    #team_part .time_item .text p {
        opacity: 1;
    }

    #team_part .time_item .img .overlay {
        opacity: 1;
        transform: scale(0.9);
    }

    #team_part .time_item {
        transform: translateY(-30px);
    }

    #team_part .time_item .text {
        border: 2px solid #f1f1f1;
    }

    #team_part .time_item:hover .text {
        border: 2px solid #f1f1f1;
    }

    /* =====================team part end ==========================*/


    /* =====================testimonial part start ==========================*/
    #testimonial_part p {
        width: auto;
    }

    /* =====================testimonial part end ==========================*/


    /* =====================membership part start ==========================*/
    #membershop_part {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    #membershop_part .menber_text h4 {
        padding: 12px 0;
    }

    #membershop_part .menber_text h3 {
        font-size: 30px;
        padding: 20px 0;
    }

    #membershop_part .menber_text ul {
        padding-top: 30px;
        padding-bottom: 10px;
    }

    #membershop_part .menber_text ul li {
        margin-bottom: 10px;
    }

    #membershop_part .menber_text {
        margin-bottom: 20px;
    }

    /* =====================membership part end ==========================*/


    /* =====================counter part start ==========================*/
    #countder_part .counter_text h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    #countder_part .counter_text p {
        font-size: 14px;
    }

    /* =====================counter part end ==========================*/


    /* =====================class part start ==========================*/
    #class_part .class_menu li {
        border-bottom: 1px solid #e23e38;
    }

    #class_part .class_text ul li {
        padding: 15px 0;
        width: 48%;
    }

    /* =====================class part end ==========================*/


    /* =====================footer part start ==========================*/
    #footer_part .Twetter_Feed h4 {
        margin-top: 30px;
    }

    #footer_part .Flickr_Photos h4 {
        margin-top: 35px;
    }

    #footer_part .Contact h4 {
        margin-top: 35px;
        margin-bottom: 15px;
    }

    #footer_part .Contact p {
        margin-bottom: 10px;
    }

    #footer_part .Flickr_Photos {
        padding-right: 0;
    }

    /* =====================footer part end ==========================*/







}

@media (min-width :768px) and (max-width :991px) {

    /* =====================banner part start ==========================*/
    #banner_part .item .details h2::before {
        left: 62px;
    }

    #banner_part .item .details h2::after {
        right: 66px;
    }

    #banner_part .item .details h1::before {
        left: 62px;
    }

    #banner_part .item .details p::before {
        left: -38px;
    }

    #banner_part .item .details p::after {
        right: -36px;
    }

    #banner_part .item .details h1::after {
        right: 65px;
    }
    #banner_part .item2{
        background-position: 50%, 50%;
    }

    /* =====================banner part end ==========================*/

    /* =====================about part start ==========================*/
    #about_part .about_text p span {
        display: block;
        margin-top: 24px;
        margin-bottom: 30px;
    }

    #about_part .about_video a {
        width: 100%;
    }

    /* =====================about part end ==========================*/

    /* =====================testimonisl part start ==========================*/
    #testimonial_part p {
        width: 300px;
        text-align: justify;
    }

    /* =====================testimonisl part end ==========================*/

    /* =====================membershpi part start ==========================*/
    #membershop_part {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    #membershop_part .menber_text h4 {
        padding: 12px 0;
    }

    #membershop_part .menber_text h3 {
        font-size: 30px;
        padding: 20px 0;
    }

    #membershop_part .menber_text ul {
        padding-top: 30px;
        padding-bottom: 10px;
    }

    #membershop_part .menber_text ul li {
        margin-bottom: 10px;
    }

    #membershop_part .menber_text {
        margin-bottom: 20px;
    }
    /* =====================membershpi part end ==========================*/

    /* =====================class part start ==========================*/
    #class_part .class_text ul li {
        padding: 20px 0;
    }
    #class_part .class_text ul li p {
        font-size: 12px;
        width: 100px;
        margin: 0 auto;
    }
    #class_part {
        padding-top: 60px;
        padding-bottom: 10px;
    }
    /* =====================class part end ==========================*/

    /* =====================footer part start ==========================*/
    #footer_part .Flickr_Photos h4{
        margin-top: 50px;
    }
    #footer_part .Contact h4{
        margin-top: 50px;
    }
    /* =====================footer part end ==========================*/





}

@media (min-width :992px) and (max-width :1199px){
    #banner_part .item .details h2::before {
        left: -55px;
    }
    #banner_part .item .details h1::before {
        left: -57px;
    }
    #banner_part .item .details p::before {
        left: -57px;
    }
    #banner_part .item .details h2::after {
        right: -53px;
    }
    #banner_part .item .details h1::after {
        right: -54px;
    }
    #banner_part .item .details p::after {
        right: -17px;
    }
    #testimonial_part p {
        width: 429px;
    }
    #membershop_part .menber_text ul {
        padding: 30px 0;
    }
    #class_part .class_text ul li {
        padding: 40px 0;
    }
    #footer_part ul li {
        font-size: 12px;
    }
    #footer_part p {
        font-size: 12px;
    }
    #footer_part .Twetter_Feed i {
        font-size: 15px;
    }
    #footer_part .Contact p i {
        top: 4px;
    }
    
    #footer_part .Opening_Hours{
        position: relative;
        padding-top: 30px;
    }
    #footer_part .Opening_Hours h4 {
        position: absolute;
        left: 12px;
        top: 0;
        width: 90px;
    }
    #footer_part .Opening_Hours ul{
        margin-top: 13px;
    }
}